<div class="container-big-card">
<div class="big-card-img">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN163QoX7mDVqWisVpRw06N4x8RGitGekMtw&usqp=CAU" alt="" height="200px" width="">
</div>
<div class="big-card-title">
<h1><a href="#">Saiu a nova versão do Angular</a></h1>
</div>
<div class="big-card-description">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellendus neque. Placeat nam modi ullam accusantium quos vero itaque esse nobis quibusdam accusamus veniam repellendus, illum, ipsa corporis, dolores consequuntur.
</p>
</div>

</div>
