<div class="container-small-card">
  <div class="container-small-card-content">

    <div class="small-card-img">
      <img
        src="https://media.istockphoto.com/id/538701993/pt/foto/dogo-argentino-retrato-de-floresta.jpg?s=612x612&w=0&k=20&c=h0c8DcigTiJGA0irXVUnG9lMLViWnXjnaWgpXZlz_GQ="
        alt="" height="200px" width="">
    </div>
    <div class="small-card-title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

  </div>

  <div class="content-small-card-separator">
    <hr>
  </div>
</div>